[2018-03-08 20:05] prncc opened #1 "Prepare config for distribution"
Since only a development build is produced, a distribution-ready build configuration needs to be added.

[2018-03-08 20:06] prncc opened #2 "Add webpack 3-based usage example"
Create a folder which will hold complete usage examples, and add a webpack v3-based example.

[2018-03-08 20:07] prncc opened #3 "Create a README with usage instructions"

[2018-03-08 20:07] prncc opened #4 "Complete JSDoc coverage"
A few methods are undocumented, and some JSDoc descriptions need rewording.

[2018-03-08 20:09] prncc opened #5 "Add badges to README"
A good set would be:

- Build
- Coverage (see https://intoli.com/blog/circleci-artifacts/)
- License
- Version

[2018-03-08 20:11] prncc opened #6 "Create deployment-ready CircleCI config"
The package should be deployable from CircleCI, so create a configuration for that.

[2018-03-08 20:11] prncc opened #7 "Adapt code to webpack 4 and less 3"
Currently the code assumes webpack 3 and less 2, and some changes will need to be made to avoid warnings and errors.

[2018-03-09 03:18] #1 closed, assigned to prncc

[2018-03-10 02:07] #2 closed, assigned to prncc

[2018-03-10 02:49] prncc opened #10 "Overload options inside wrapped loaders"
Loader options are currently overloaded when webpack reads the configuration, which prevents live reloading (for less loader, at least).

[2018-03-10 03:45] #10 closed, assigned to prncc

[2018-03-10 03:48] prncc opened #12 "Accept optionless loaders"
`themify` should handle `'less-loader'` (and similar) in addition to

[code]

[2018-03-10 04:06] #12 closed, assigned to prncc

[2018-03-12 16:11] #4 closed, assigned to prncc

[2018-03-12 16:20] prncc opened #15 "Refactor option overloading methods"
The SCSS theme file is located twice when wrapping less-loader.

[2018-03-12 16:26] #15 closed, assigned to prncc

[2018-03-25 18:42] #3 closed, assigned to prncc

[2018-03-25 18:43] prncc opened #20 "Create README for the example"

[2018-03-25 18:54] prncc opened #22 "Publish package through CircleCI"

[2018-03-25 18:54] #20 closed, assigned to nobody

[2018-03-25 19:22] #22 closed, assigned to nobody

[2018-03-25 20:05] #5 closed

[2018-03-25 20:10] #6 closed

[2018-04-06 19:58] prncc opened #26 "Errors in theme SCSS crash webpack"
Using an SCSS file that `sass-to-json` can't handle crashes the server instead of just reporting the error.

[2018-04-07 00:00] #26 closed

[2018-04-20 06:01] ruoqianfengshao opened #29 "readme error"
![image](https://user-images.githubusercontent.com/2928664/39033142-380a0dca-44a3-11e8-8c26-e561b79b117f.png)
Maybe it should be `AntdScssThemePlugin.themify('less-loader')` not `AntdScssThemePlugin('less-loader')` 😄

[2018-04-23 14:32] prncc commented on #29
Thanks @ruoqianfengshao! You're correct and that's fixed now.

[2018-04-23 14:32] #29 closed

[2018-04-25 12:04] reflog opened #30 "Parcel"
Amazing project! Is there any chance (long shot, I know) that you might look at implementing this plugin for Parcel bundler as well?

Thanks in advance!

[2018-04-28 20:34] prncc commented on #30
Heya @reflog, thanks! I don't think I will be supporting Parcel in this project. From browsing Parcel's API docs I am tentatively optimistic that the utilities from this projects could be reused to make a Parcel plugin. If you'd like to go through with it, please feel free (`antd-scss-theme-plugin` is BSD-2 licensed). I would be happy to point you around the code here if you need me to.

[2018-04-28 20:34] #30 closed

[2018-04-30 09:27] reflog commented on #30
Ok, thanks anyways!

[2018-05-08 08:30] izvonar opened #31 "scss compile error"
If you use antd variable in *theme.scss* file without specifying it first, compilation fails with scss error.

theme.scss file

`
$input-border-color:$primary-color;
`

Fails because `$primary-color` is not defined.

I tried it in your example and got the same error.

[2018-05-11 15:37] prncc commented on #31
Hey @izvonar, thanks for reporting. The plugin treats `theme.scss` as a regular SCSS file, so using theme variables without importing anything won't work. What you could do is create a file with the default variables (perhaps by modifying [the extractLessVariables method in utils.js](https://github.com/prncc/antd-scss-theme-plugin/blob/48beb1da5ec9a7c4e9205424b4ddea1089fbd9a3/src/utils.js#L16) and

[2018-05-11 15:39] #31 closed

[2018-05-25 07:22] ruoqianfengshao opened #32 "$icon-url block compile"
I set `$icon-url` in `theme.scss` and it make webpack compile error

![image](https://user-images.githubusercontent.com/2928664/40531482-2408bb4e-602f-11e8-8549-b32feea87d43.png)

compile success without this variable.

Does this variable support to less?

[2018-05-26 06:26] ruoqianfengshao commented on #32
I find varibale recognized by `scss-to-json`, `scss-to-json` will remove '//' and what's behind it.

[2018-06-01 17:17] RobinRadic opened #33 "TypeError: compilation.fileDependencies.includes is not a function"
Got this error
[code]

Ran it with debugger on, it showed me `compilation.fileDependencies` is not an array but a `Set`.

My workaround:
[code]

[2018-06-01 21:15] prncc commented on #33
I think that `fileDependencies` was changed to a set from an array in Webpack 4. Which version of Webpack are you using?

Either way, thanks for reporting; I'll get it fixed first thing.

[2018-06-01 21:18] RobinRadic commented on #33
webpack@4.10.2

[2018-06-02 14:38] prncc commented on #32
@ruoqianfengshao Did you actually solve this issue, or have you given up trying to? If it's the latter, I'll reopen and see what can be done to fix it.

[2018-06-02 14:39] prncc commented on #7
Also requires at least fixing #33

[2018-06-02 15:37] ruoqianfengshao commented on #32
yeah, I fork [scss-to-json](https://github.com/ruoqianfengshao/scss-to-json) and [antd-scss-theme-plugin](https://github.com/ruoqianfengshao/antd-scss-theme-plugin), and solve this problem with not elegant way :).

[2018-06-03 09:38] Gong-Elory opened #34 "Module build failed: Error: Cannot find module 'sass-loader/lib/importsToResolve'"
in my node_modules, i can not find the dic  /lib/importsToResolve'

[2018-06-03 09:50] Gong-Elory commented on #34
i get it haha~~

[2018-06-03 09:50] #34 closed

[2018-06-04 15:22] sinisavukovic commented on #33
I'm having the same issue with `webpack@4.8.3`
@RobinRadic fix solves the issue. Thanks

[2018-06-19 10:12] samuel-alpoim commented on #33
I'm also having this issue, @RobinRadic fix is also working here, do you have some estimation about when you will apply this code in your plugin?

[2018-06-21 02:52] #33 closed

[2018-06-21 03:50] prncc commented on #33
Thanks @vieira! This fix is live as of v1.0.4. @samuel-alpoim @sinisavukovic @RobinRadic

[2018-06-21 03:56] prncc commented on #32
@ruoqianfengshao I took a closer look. You should be able to fix your problem by escaping the slashes in the URL:

[code]

[2018-06-21 03:56] #32 closed

[2018-07-17 13:04] Andreeh opened #38 "Issues when running tests with Jest"
Hi and thanks for a nice plugin!

I have some issues when trying to setup jest with my project. To confirm my issues i cloned your example, installed jest and created a test:

[code]

Notice that I don't even use the App in my test, but only by importing the component (which contains some antd imports) it causes this error:

` FAIL  src/components/__tests__/App.test.js
  ● Test suite failed to run

[2018-07-17 15:13] #38 closed

[2018-07-23 20:54] prncc commented on #38
Glad you figured it out!

[2018-07-24 06:38] Andreeh commented on #38
Thanks, realized it was an issue with webpack and my loaders :)

Allthough I have another question. I'd like to use styled components in my app. Is there a smooth way to get access to all the antd variables in the JS so that I can use them in my styled components?

[2018-07-25 08:48] hannadrehman opened #39 "antd-sass-theme-plugin reduces the build time."
when i use this plugin it reduces the build time. it takes around 4 seconds to finish the scss build.
 my project has just started and it takes around 4 seconds to build just the scss files.
initially i thought it was because sass-loader is slow. but with the new [speed-measure-webpack-plugin](https://github.com/stephencookdev/speed-measure-webpack-plugin/) it pointed out the actual cause of the s

[2018-07-25 11:35] Arkrait opened #40 "Fails to compile"
Ejected create react app with --scripts-version=react-scripts-ts. Followed the tutorials and scss files seem to compile nicely until I try to modify the variables, in which case it fails to build with

Webpack plugin -
```new AntdThemePlugin(path.join(__dirname, "src", "theme.scss"))```

scss files -
[code]

Webpack loaders -

[code]

[code]
[code]

[2018-07-26 09:22] hannadrehman commented on #40
`/* theme.scss */
$primary-color: #cc241d;
}`

i don't think you should import anything in theme.scss because themifyPlugin will convert all '$' => '@' to make sass variable into less variables.
try it without the `@import "~antd/dist/antd.css";`

[2018-07-30 16:05] prncc commented on #39
Hi @hannadrehman,

The plugin does a lot of work on the initial render because it has to parse and compile the theme.scss file, extract the variables, inject them into antd's theme file to generate an SCSS theme and make it available to the locally running app. The good news is that this should only happen again when you change the theme file, so it should not affect future re-compilations (thanks

[2018-07-30 16:10] prncc commented on #40
Actually, importing inside of `theme.scss` should work just fine -- the plugin goes beyond just replacing symbols and actually compiles the variables there. I tried out an import and it worked fine, so maybe the issue is with your paths?

In any case, you shouldn't have to import `antd.css` here because the plugin will inject Ant Design variables into the theme for you.

[2018-07-30 16:10] #40 closed

[2018-07-30 16:11] prncc commented on #39
I forgot to mention. This block:

[code]

won't do anything; the plugin only modifies `less-loader` and `sass-loader`.

[2018-07-31 13:48] prncc commented on #38
To get *all* of them you have to modify the plugin (or use similar solution) to export a file with all the values in a dictionary :)

If you are willing to pick through the ones you want, you can do something like

[code]

[2018-08-20 14:31] hbj opened #41 "Use with react-app-rewired"
I'm trying to use the plugin with 'react-app-rewired' and I have succeeded to use it to customize the theme, but if I import `theme.scss` and try to use Ant Design's variables I get 'Undefined variable' errors (I can only use the ones I have defined in the file).

Here is my `config-overrides.js` file:

[code]

[2018-08-21 21:45] prncc commented on #39
Not clear what  the expected build time should be for your project, but if you do run some benchmarks  with and without the plugin, I'd be curious to hear the results.

[2018-08-21 21:45] #39 closed

[2018-08-21 21:49] prncc commented on #41
Heya, `AntdScssThemePlugin` is actually a Webpack plugin, so using it with `injectBabelPlugin` shouldn't work. I'll close the issue for now, but please feel free to reopen if after editing your config you're still getting errors.

[2018-08-21 21:49] #41 closed

[2018-08-25 02:44] antenando commented on #7
I'm trying with
[code]

but wrapping the loaders with your plugin manually over next.config.js ... could not get it to work though. I think mainly because it is webpack 4 after all.

Let us know if we can help to release a version for webpack 4

Much obliged, your plugin is great!

[2018-08-29 12:29] prncc commented on #7
Hi @antenando,

I think this should mostly work with Webpack 4 already, and the present issue is writing some tests and examples.

In your case, unfortunately, the plugin won't work. This plugin creates a custom version of `less-loader` and `sass-loader` to do its job, so using it with any other loaders won't do anything. If you'd like to extend the functionality, though, please make a separate is

[2018-09-01 12:30] panjiesw opened #42 "Usage outside antd"
Hi there just found this awesome plugin when trying to solve runtime theming with antd.

If I have libraries which use antd components, and follow the same theming solution as antd (the library components can be passed in babel-plugin-import to have its less files loaded in compilation), can the library also be themed using this? Or is this hardcoded to only work for antd components?

I want to pr

[2018-09-04 03:13] prncc commented on #42
Thanks @panjiesw. The library is hard-coded for `antd`: it explicitly imports the `default.less` style file inside the `antd` package, compiles it, and reads the variables for use in SASS. Please feel free to ask questions about the source if you decide to fork the project and modify it for your use case.

[2018-09-04 03:13] #42 closed

[2018-09-04 03:57] rumsky opened #43 "This plugin reduces webpack packaging speed"
Before add this plugin my webpack bundle duration is 5000ms ，after add this plugin my webpack bundle duration is 9000-10000ms .
How can I increase the speed,after add this plugin.

[2018-09-04 13:13] prncc commented on #43
Hi there,

There's some related discussion here: https://github.com/intoli/antd-scss-theme-plugin/issues/39 I wrote there:

With that said, is this something that keeps happening for you after the first render? Is the only thing that causes the slowdown adding `.themify()` and the plugin to Webpack's `plugins` array?

[2018-09-12 18:04] xiaoyu-tamu opened #44 "Undefined variable: "$secondary-color"."
The project is init using create-react-app, and eject to expose webpack config.

In webpack.config.dev rules, I add the following loaders (less and sass)

[code]

In the plugin section, I add
[code]

===========

I create the following files;

[code]

[code]

Then I got the error ,

[code]

Based on the docs,
Importing theme.scss in some SCSS file gives it access all of Ant Design's theme and colo

[2018-09-12 22:38] prncc commented on #44
That is indeed what is supposed to happen. Did you try using a relative path, or `path.resolve`: `new AntdScssThemePlugin('src/common/theme.scss')` -> `new AntdScssThemePlugin('./src/common/theme.scss'),`. Does that help?

[2018-09-21 02:45] #44 closed

[2018-09-22 00:22] kmcaloon opened #45 "Could not compile the SCSS theme file error."
No matter what I try I can't get around this. I am trying to implement the plugin with gatsbyjs and am very close, the only problem now is that I am running into the following error:

Could not compile the SCSS theme file "src/lib/ant-overrides.scss" for the purpose of variable extraction. This is likely because it contains a Sass error.

My relevant project directory looks like this:

[code]

So

[2018-09-22 00:43] kmcaloon commented on #45
Looks like there were two errors. First was I needed to use a relative path such the config in this example https://github.com/intoli/antd-scss-theme-plugin/blob/676f36a506cf415d3c359ec6c4c19a9f17d5110b/example/webpack.config.js.

Second, looks like block comments within the theme file produce this error, which you are probably already aware of. I'm going to go ahead and close this.

[2018-09-22 00:43] #45 closed

[2018-11-12 16:01] virginc commented on #41
I have been here recently. I found out that if the themes.scss file has multi-line comments, the parsing from SCSS to JSON will fail.

[2018-11-12 16:02] virginc opened #47 "Problem with PROD build with react-app-rewired"
Hi everyone,

With the following `config-overrides.js`, I can run the application in dev mode no problem. However, when I make a prod build (`npm run build`) the theme overrides don't happen. There are no errors. Help.

[code]

[2018-11-28 07:02] btn0s opened #48 "Vue CLI 3 Example"
Not sure where to start trying to get this to work with vue CLI 3.0 -- But I'm poking around and will update here if I do. Anyone else done this?

[2018-12-11 09:01] mburke05 opened #49 "Could not compile the SCSS theme file error - post create-react-app eject"
Hello,

I ejected from CRA in order to configure web-pack to hook up the webpack config settings to override the default `sass-loader` and `less-loaders` provided.

My webpack config looks like this:

My directory is something like:

my .babelrc is

[code]

and my `webpack.config.dev.js` looks like this:
[code]

and:

[code]

Here's my `theme.scss` file:

`$primary-color: #cc241d;`

Any help would

[2018-12-11 09:07] mburke05 commented on #49
This error is a result of misconfigured path's closing.

[2018-12-11 09:07] #49 closed

[2018-12-16 19:06] prncc commented on #48
I don't have experience with this, so I can't make a more meaningful comment without looking into it, but I do plan on exposing (and slightly modifying) internal utilities so that a static `theme.scss` file can be easily produced with the plugin. That should make the build non-dynamic, but compatible with a wider range of tools.

[2019-01-07 19:57] hfknight opened #50 "moderate severity vulnerabilities in 'hoek' package"
There are 4 moderate vulnerabilities after installing this plugin, can you fix it? the below is the report from 'npm audit'.
-----------------------------------------------------------------------------------
  Moderate        Prototype pollution

  Package         hoek

  Patched in      > 4.2.0 < 5.0.0 || >= 5.0.3

  Dependency of   antd-scss-theme-plugin [dev]

  Path            antd-scss-theme

[2019-01-09 15:24] gautier-lefebvre opened #51 "Resolve absolute paths"
Hello,

I have been using your plugin with `sass-loader` and `node-sass`.

`node-sass` has an option which allows us to specify the root folder of absolute `@import` paths:

[code]

`includePaths` is an option of `node-sass` and `sass-loader` just passes it through when compiling.

The problem is, this plugin doesn't look for this path when resolving the current imported file to decide whether or

[2019-01-10 10:56] nettiopsu opened #52 "Import of another scss is not working"
Hello!

I am trying to import another scss file with partials into theme.scss. It seems this is not supported?

Use case: There are multiple websites under the same brand. They share same logo, fonts and so on. However, parameters like website colors can vary from site to site, since they have different content

I would like to have a theme file with same basics: fonts, sizes, line heights and so

[2019-01-10 11:39] nettiopsu commented on #52
It seems that it is supported in scss-to-json library (which is used in this project) as "dependencies" parameter:
https://github.com/ryanbahniuk/scss-to-json

[2019-01-16 22:15] davidfurlong commented on #43
Either we're using this plugin wrong or theres no caching. This plugin adds 10s to our build and 5s to all incremental builds

[2019-01-16 22:31] davidfurlong opened #53 "A suggestion and a word of caution re: build performance"
I commented here: https://github.com/intoli/antd-scss-theme-plugin/issues/43 on what I thought was a bug with this library.

However it wasn't a bug with this library at all. I, as a naive developer confused by webpack took this plugin literally and applied the `AntdScssThemePlugin.themify()` changes to my rule which matched all my `scss` files. This caused this entire theme to rebuild on every `s

[2019-02-15 11:42] murbanowicz opened #54 "How to use it with Extract Text Plugin?"
Could you give an advice on how to set it up to extract CSS into a separate file in production?

[2019-03-24 10:45] AbhimanyuG commented on #30
@reflog So did you create parcel plugin for this? If so, please share. Thanks!

[2019-03-29 11:07] ndeviant commented on #41
Could that be cause of you need to wrap SASS loader as you did with LESS? https://github.com/intoli/antd-scss-theme-plugin#step-2-use-antd-scss-theme-plugin-in-your-webpack-setup

[2019-03-30 08:48] reflog commented on #30
@AbhimanyuG - no sorry, never got to it :)

[2019-04-30 07:00] Absvep commented on #54
Same issue here.

[2019-08-15 13:30] bryanlarsen commented on #50
More information from `yarn install`:

[code]

[2019-08-15 13:32] bryanlarsen commented on #50
I'm not sure how I unassigned @prncc, definitely didn't mean to do that...

[2019-09-04 14:27] heryvandoro commented on #47
same problem here, any fixes?

[2019-09-07 15:55] vrsotto commented on #52
@nettiopsu hi! we're you able to solve this issue? i hope you could share your solution

[2019-09-16 07:14] mehdiraized opened #59 "This version has been deprecated"
This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bug fixes, and security patches. If you are unable to upgrade at this time, paid support is available for older versions (hapi.im/commercial)

plase update this package

[2019-10-23 16:34] mazeeblanke opened #60 "Could not compile the SCSS theme file "../scss/app.scss" for the purpose of variable extraction"
Hi, i have been trying to setup my project using this plugin. However the Plugin not working for me and keeps throwing error "  Could not compile the SCSS theme file "../scss/app.scss" for the purpose of variable extraction. This is likely because it contains a Sass error "

Webpack version: 4.41
sass-loader: 8
less-loader: 5
 antd-scss-theme-plugin: "^1.0.8"

[code]

[2019-10-23 20:42] mazeeblanke commented on #52
any update on this ?

[2019-10-24 08:36] vrsotto commented on #52
I followed this https://dailyjsx.com/antd-rescript-sass-boilerplate -- and address my problem in https://github.com/nadunindunil/antd-rescripts-boilerplate/issues/1

[2019-11-07 01:06] jufemaiz commented on #50
@bryanlarsen I'm not seeing that with npm audit – only `hoek` as above:

[code]

[2019-11-07 01:34] jufemaiz commented on #50
`less` is now a major release behind.

Edit:

*   Ref: https://www.npmjs.com/package/less

[2019-11-07 01:38] jufemaiz opened #61 "Major release checks"
Use of `^` in dependencies locks major version. This means the following are outdated.

What's the strategy to manage this?

[code]

[2019-11-13 22:37] jpants opened #63 "Less variables not being imported"
I've been working to get Antd running in Next.js with SCSS with cssModules.  I have been able to get it all running except for getting the Antd Less variables.  I can overwrite the Less variables from my 'theme.scss' file, but when I import that file, I can't get access to the Less variables as expected.  I get errors complaining of a Sass error because a variable doesn't exist.

Any idea when thi

[2019-11-18 13:30] urrri commented on #63
I have the same problem.
sass-loader: 7.3.1
this plugin: 1.0.8

It also doesn't work with sass-loaded 8.0.0

[2019-11-18 15:59] jpants commented on #63
yeah, I had to drop down sass-loader down to 7.3.1 as well.  The compile time with this plugin was too long, so I ended up using a different approach anyway.  Ended up being less sweet than what this plugin offers, but at least I'm not waiting a while after every little scss change

[2019-11-30 11:28] mehdiraized opened #64 "support sass-loader version 8"
plz update sass loader

[2019-12-02 12:14] mehdiraized opened #65 "Plz Fix Warnings"
[code]

[2019-12-07 02:44] nodeworks commented on #64
I created a fork of this and provided a package on npm of this fork to support sass-loader v8:

[@nodeworks/antd-scss-theme-plugin](https://github.com/nodeworks/antd-scss-theme-plugin)

[2019-12-07 10:34] gs-mrpatil opened #66 "plugin not compatible with ng-zorro-antd."
I installed ng-zorro-antd && antd-scss-theme-plugin in angular project. Post installation and plugin configuration, it started throwing errors. themeEntryPath issues.
I changed the path

`const themeEntryPath = require.resolve('ng-zorro-antd/style/themes/default.less');`

after that i changed the sass-loader plugin to version ^7.0.0 because loader API Schema was not compatible. (not compatible wit

[2019-12-11 10:33] mrszympek commented on #52
Same problem here 🙋🏻‍♂️ Any solution?

[2019-12-15 08:43] mehdiraized commented on #64
Tnx man.
plz change
[code]
to
[code]
in your repository

[2020-01-08 07:26] sainisagar310 commented on #34
Could you please share the snippet, how you have resolved this?

[2020-01-08 07:47] sainisagar310 commented on #34
It is not compatible with  `"sass-loader": "^7.2.0"`. Currently, I have fixed by changing the following in the module file `addSassLoader.js`.

`var _importsToResolve = require('sass-loader/dist/importsToResolve');`
to
`var _importsToResolve = require('sass-loader/lib/importsToResolve');`

[2020-01-08 11:06] sainisagar310 opened #68 "Compatibility issue with sass-loader, Error: Sass Loader has been initialised using an options object that does not match the API schema. - options has an unknown property 'importer'."
The version `1.0.8 (latest)` of `antd-scss-theme-plugin` is not compatible with `sass-loader(8.0.0) latest`. It shows the following error:

`Invalid options object. Sass Loader has been initialised using an options object that does not match the API schema. options has an unknown property 'importer'. These properties are valid: object { implementation?, sassOptions?, prependData?, sourceMap?, webp

[2020-01-08 11:14] sainisagar310 commented on #34
The other solution is, we can update the `sass-loader` to `7.3.1`.

[2020-01-08 22:10] nirvdrum commented on #64
I find trying to pick dependency versions that satisfies everyone's dependency graph is hard. But, I'll note that CRA 3.3.0 now requires sass-loader 8.

[2020-01-12 01:20] uturnr commented on #41
In case this helps anyone else, this is my config with `customize-cra`. I tried the above examples first, but some of the functions used have been deprecated in `react-app-rewired`.

It's a bit rough, but it's a start:

[code]

As with @ghost, I am finding that only overriding variables is working. There are some other issues that I'm not sure are to do with this config or not.

- Can't import oth

[2020-01-12 01:23] uturnr commented on #47
I shared my config using `customize-cra` here: https://github.com/intoli/antd-scss-theme-plugin/issues/41#issuecomment-573370702
My prod build seems to be working.

[2020-01-12 20:02] sangaline commented on #47
@virginc Does @uturnr's config work for you?

[2020-01-12 20:04] sangaline commented on #64
@nodeworks Would you be interested in becoming a maintainer for this project instead of maintaining a fork?

[2020-01-14 00:24] refucktor opened #69 "Maintenance?"
Hi guys, thanks for your work!!!

Seems like the project is kind of abandoned or maybe you don't have enough time to take care of the issues.
* Are you accepting PR?
* Would you recommend to contribute or rather fork the project and provide the necessary changes?

[2020-01-14 01:32] sangaline commented on #69
We do accept pull requests, but I'm not actively using the project myself right now so this is a relatively low priority for me and it's hard to find time. I've had conversations with a few people about coming on as a maintainer, but they've fallen through. Would you have any interest in being a maintainer?

[2020-01-14 03:02] refucktor commented on #69
Sorry for my late answer... and thanks for your reply

Unfortunately, I'm kind of running out of time, that's why I have to fork the project and incorporate some adjustments. Our previous setup was using less with antd and at some point, the development process was impossible, from _out of memory_ while recompiling the change to wait minutes until the styles are compiled and the changes refreshed.

[2020-01-16 09:26] nodeworks commented on #64
@sangaline yes i can definitely help out there if needed. let me know where i can help!

[2020-01-19 04:57] exzizt commented on #60
Same issue. Trying to use a function like darken, lighten, etc for colours causes this. Any way to fix this?

[2020-01-19 05:52] exzizt opened #70 "theme.scss won't let me use @font-face"
For example, adding this to my theme.scss won't let it compile due to a generic "SASS error". Any help is appreciated.

`@font-face {
    font-family: 'BC Sans';
    src: url('../assets/fonts/BCSans-Regular.woff');
}`

The error:

[2020-01-19 05:57] exzizt commented on #41
Still an issue.

[2020-01-20 13:04] refucktor commented on #70
Hi @exzizt

Are you sure the error is on that line? Can you share the whole content of your `theme.scss` file

[2020-01-28 00:55] tomer-dev commented on #68
@sainisagar310 Waiting for the same isue.

Looks like the lib is valid, waiting for `importer` - which makes the ERROR issue to be suspicious.

Using  Webpack 3, and verified the package libraries are ok.

ERROR in ./frontend/modules/Home/components/MatrixView/MatrixView.scss (./node_modules/css-loader/dist/cjs.js??ref--8-1!./node_modules/antd-scss-theme-plugin/build/dist/lib/antdSassLoader.js??re

[2020-01-28 02:47] cdwieber commented on #68
I've got the same issue. It seems to be happening because I'm trying to import a different .scss file in a component. I'm wondering if, now that we're leveraging the Antd SCSS plugin, there's a different configuration I need to use now.

I'll dump everything I have in case there's any insight into the issue in here:

## Errors
[code]
[code]
## Offending component file
[code]
## Offending SCSS file

[2020-01-28 03:31] cdwieber commented on #68
I managed to work around this for the time being by downgrading sass-loader to 7.3.1.

[2020-01-29 00:26] sahina commented on #68
@cdwieber is the issue related to sass-loader v8 and above? how did u end up with 7.3.1?

[2020-01-29 08:18] tomer-dev commented on #68
As Chris suggested - 7.3.1 resolved it for me as well.

בתאריך יום ד׳, 29 בינו' 2020, 2:26, מאת Altug Sahin ‏<
notifications@github.com>:

[2020-02-10 13:27] MildTomato commented on #41
Can anyone help with this?

The above solutions are not working.
@uturnr solution also returns sass errors

[code]

[2020-02-10 19:15] uturnr commented on #41
@MildTomato I have encountered that error at times as well, depending on what's in my `theme.scss` file. I was able to make it work for me, but I had to forego using many sass features in the file, including importing other files into my `theme.scss`. What I am able to do successfully is define new sass variables (and use them in my other sass files), and override antd variables.

If you're okay w

[2020-02-11 12:56] MildTomato commented on #41
@uturnr cheers 🚀 I don't think I was using any imports at all, think I had it with just one variable.
I'll check again and report back.

The import thing isn't really much of an issue, i suppose the same same scss variables could be used elsewhere, so it's not all bad 😄

got this weird feeling that I might had been using less syntax in `theme.scss`

[2020-02-11 16:44] MildTomato commented on #41
@uturnr so, I progressed it a little bit.
i had an import in my original `theme.scss` file that seemed to be breaking it.

Now I'm getting this error haha
trying to figure out what it means

[code]

[2020-02-11 17:00] mscout commented on #41
@MildTomato Maybe it is trying to use `sass-loader` 8, which the latest `react-scripts` depends on. I don't believe this library is compatible yet. Perhaps try installing `^7.3.0`.

[2020-02-11 17:01] uturnr commented on #41
@MildTomato Maybe it is trying to use `sass-loader` 8, which the latest `react-scripts` depends on. I don't believe this library is compatible yet. Perhaps try installing `^7.3.0`.

[2020-03-06 11:20] aproskurnov commented on #70
I have the same problem, but i found solution. You can use in your theme.scss only $font-family variable. Your font you can load by @font-face in other scss file in project

[2020-04-02 18:24] bmgdev commented on #69
@refucktor would you be open to sharing your fork? We're in a similar boat.

[2020-04-03 14:28] refucktor commented on #69
@bmgdev sure, here is the fork published as npm package [@inventium/antd-scss-theme-plugin](https://www.npmjs.com/package/@inventium/antd-scss-theme-plugin).

We came out with some pretty stable configuration, let me know if you need any help.

[2020-04-03 22:53] bmgdev commented on #69
@refucktor really appreciate that, thank you!

[2020-04-12 12:24] MildTomato commented on #41
Got it working!

Anyone got any tips to make antd-scss-theme-plugin work with GatsbyJS?

[2020-04-12 12:34] kaje94 commented on #41
@MildTomato , How to you get it to work?

[2020-04-12 12:51] MildTomato commented on #41
Oh, got it working.

There's some funny stuff that comes up with formatting of scss.

[code]

the above fails to compile. but if you comment the 1st line like..
```// theme.scss```
it works

[2020-04-13 11:46] yangehappy commented on #68
I meet the same situation,my sass-loader version is 8.0.2, I downgrade it to 7 to resolve the error.

[2020-04-25 17:03] mehdiraized opened #74 "support less-loader 6"
plz support less loader version 6

[2020-04-29 16:48] mehdiraized commented on #64
plz update your package for support less-loader v6

[2020-05-02 23:06] onomated commented on #74
Less loader v6 options format have changed.  See https://github.com/ant-design/ant-design/issues/23624 for example

[2020-05-04 12:40] denistex commented on #64
@mehdiraized check out this fork:

https://github.com/atb-tech/antd-scss-theme-plugin

It supports both sass-loader v8 and less-loader v6.

[2020-05-04 16:45] denistex commented on #41
I was able to get it working with `rescripts` and [a fork of the plugin by atb-tech](https://github.com/atb-tech/antd-scss-theme-plugin). In case this helps anyone else, here is the re-script: https://gist.github.com/fppden/689cc39ca68cf329eb9c32c155187ef6

[2020-05-05 02:23] sammyers commented on #41
Don't know if this is the only problem at play, but I was able to get this to work by changing the theme path that gets passed to the plugin constructor to an absolute path (`new AntdScssThemePlugin(path.resolve(__dirname, "./src/theme.scss"))` or something similar). There's a path equality check in `antdSassLoader.js` that fails to inject the theme variables into your stylesheets, at least in my

[2020-05-06 01:22] mehdiraized commented on #64
not supported

[2020-05-16 03:43] chuyuandu opened #76 "use sass instead of node-sass ?"
for now,  sass support @use, but node-sass not
and @import may be removed later,
time to use sass and @use

[2020-05-20 11:19] MildTomato commented on #69
Is anyone maintaining this project?

@refucktor might have to also use your fork as well 👀 the package warnings keeps coming up

[2020-06-16 06:44] meishier commented on #70
@aproskurnov
the $font-family in theme.scss does not support japanese word.

`$font-family: "ヒラギノ角ゴ ProN W3";`

same error as  @exzizt

[2020-06-29 00:45] saileshkotha opened #78 "Do we really need this package if we use create-react-app and react-app-rewired? (Trying to understand) (Working code below)"
My current project is currently in Ant.d, Less, Create-react-app and uses react-app-rewired, customize-cra for custom webpack configurations.

[code]

Current config-override.js looks like this, and it works perfectly. Please tell me why I need this package?

[code]

Still trying to understand why I need this package? Please, help!

[2020-07-01 09:16] PomeloMan commented on #48
My solution is to add the following code in the vue.config.js file.
Note: In view of [#68](https://github.com/intoli/antd-scss-theme-plugin/issues/68), please ensure that the sass-loader version is below 8
[code]

[2020-07-03 23:54] jsliu27 commented on #48
@PomeloMan Hi, Could you look at this problem for me？ The configuration is the same as yours
 error  in ./node_modules/_ant-design-vue@1.6.2@ant-design-vue/es/style/index.less

Module build failed (from ./node_modules/_antd-scss-theme-plugin@1.0.8@antd-scss-theme-plugin/build/dist/lib/antdLessLoader.js):
Could not compile the SCSS theme file "./theme.scss" for the purpose of variable extraction. T

[2020-07-07 05:08] chuyuandu commented on #48
seems like that your sass file has syntax error
perhaps you use some new syntax that your sass-loader don't supports

[2020-07-09 11:41] realjesset commented on #41
could you perhaps share your `config-overrides.js` file so I can look into it? thanks would help a lot

[2020-07-15 09:17] MildTomato commented on #78
I'll take a look at this later.
This might be exactly what I need :-)

[2020-07-28 05:04] nad182 opened #82 "Plugin doesn't work with sass-loader v8 and above and less-loader v6 and above"
Spend hours trying to get the plugin to work. Seems like sass-loader and less-loader both changed their `options` object shapes. I got to the bottom of the issue by exploring `antdSassLoader.js` and `antdLEssLoader.js`.

1. `antdSassLoader.js` (the error was something like `options has an unknown property 'importer'`)
The issue there is that there is no `importer` prop in options anymore, it's in

[2020-07-29 01:38] nad182 commented on #78
It's not going to work if you're trying to change a property with a variable that hasn't been defined in your `antdCustom.scss` file.
For example, if you didn't define `@highlight-color` in your file and you're trying to set ` '@label-required-color': '@highlight-color';` (_even though it's defined in `'antd/dist/antd.less'`_), it's going to throw an error.

The only way to to deal with the issue

[2020-08-09 10:02] sainisagar310 opened #85 "Compile takes a long time"
Hi,

I have been using this plugin for a couple of years. Initially, it worked well since we had fewer SCSS files. But when the project got bigger and SCSS files increase so the compiler started taking time to compile the code in development environment.

[2020-09-28 16:55] vjagetiya-jeavio opened #91 "When used this plugin with sass-loader (version ^10.0.2) and craco is giving Cannot find module 'sass-loader/dist/importsToResolve' when used in webpack config"
Reference of ticket opened with sass-loader, which recommended to open issue with antd-scss-theme-plugin

[https://github.com/webpack-contrib/sass-loader/issues/890](url)

Refer following for craco.config.js

`const AntdDayjsWebpackPlugin = require('antd-dayjs-webpack-plugin');
const AntdScssThemePlugin = require('antd-scss-theme-plugin');
const MiniCssExtractPlugin = require('mini-css-extract-plu

[2020-10-16 13:31] gabi04 commented on #38
how did you solve it?

[2021-01-04 15:24] kbouchard commented on #82
+1

[2021-03-25 03:22] llccing commented on #66
look this issue,  https://github.com/NG-ZORRO/ng-zorro-antd/discussions/2243.

just define a theme.less, and import in angular.json.

[2021-10-05 08:57] Chingachcook opened #110 "Error: Cannot find module 'sass-loader/dist/importsToResolve'"
Error is appearing with "sass-loader": "^12.1.0"

ERROR in ./src/assets/styles/main.scss (./node_modules/css-loader/dist/cjs.js!./node_modules/antd-scss-theme-plugin/build/dist/lib/antdSassLoader.js??ruleSet[1].rules[4].use[2]!./src/assets/styles/main.scss)
Module build failed (from ./node_modules/antd-scss-theme-plugin/build/dist/lib/antdSassLoader.js):
Error: Cannot find module 'sass-loader/dist

[2021-11-09 17:54] nite commented on #76
From https://sass-lang.com/blog/libsass-is-deprecated:

[2021-11-12 10:52] vinithkumar23 opened #111 "scss extension changing css extension - webpack build"
We are using .scss each components and while build using webpack, file name extension changed as .css file.
We want to maintain same extension like index.scss in each components in the build.

Below is our configuration :
{
                test: /\.scss$/,
                use: [
                    MiniCssExtractPlugin.loader,
                    "css-loader",
                    AntdScssThemePlug

[2022-01-11 06:17] devil9108 commented on #7
Getting the below issue after adding the **antd-scss-theme-plugin** to our project.
we are using wepack: 4.40.2, less: 3.10.3, less-loader: 5.0.0, antd: 3.23.4

At first got the below error
[code]
After adding `strictMath: true` above error resolved.

After that got the below error
[code]

Its not resolving. Any one please help me on this.

At present my plugin code is like below
[code]

[2022-01-11 06:20] devil9108 opened #112 "Webpack 4 and less 3 issues"
Getting below issue after adding the **antd-scss-theme-plugin** to our project.
we are using wepack: 4.40.2, less: 3.10.3, less-loader: 5.0.0, antd: 3.23.4

At first got the below error
[code]
After adding `strictMath: true` above error resolved.

After that got the below error
[code]

Its not resolving. Any one please help me on this.

At present my plugin code is like below
[code]

[2022-01-11 20:41] jeremy-cho commented on #51
Any updates on this?

[2022-02-02 20:09] Abdilar commented on #34
It's so bad issue.

[2022-05-03 08:52] whitedog31 commented on #76
i think that make custom plugin using dart-sass

when we use in Mac OSX : monteray, node 16.x.x,
this plugin not installed ...

[2022-06-14 09:20] igor-lemon commented on #82
I made a PR but it looks like the author doesn't want to support
https://github.com/intoli/antd-scss-theme-plugin/pull/119

As alternative you can use
https://github.com/igor-lemon/antd-scss-theme-plugin
or full completely craco solution
https://github.com/igor-lemon/craco-antd-scss

[2022-06-18 13:13] webmatrixxxl commented on #110
Any update here?

[2022-07-04 09:19] lucasff opened #121 "Fails with antd v4.x"
[code]

[2022-07-17 07:58] kiril-daskalov commented on #110
@Chingachcook did you find a solution?

[2022-07-26 14:05] trickeyd commented on #110
same here - any luck anyone?